* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: "IM Fell English SC", serif;
}

a {
  text-decoration: none;
}

.container {
  min-height: 150vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: black;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
  text-shadow: #fc0 1px 0 10px;
  font-family: "Festive", cursive;
}

.section-title span {
  color: crimson;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.cta {
  display: inline-block;
  padding: 10px 30px;
  color: crimson;
  background-color: transparent;
  border: 2px solid crimson;
  border-radius: 25px;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}

.cta:hover {
  color: white;
  background-color: crimson;
}

.brand {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}
.brand h1 span {
  color: crimson;
}
/* Start of Intro Section */

#intro {
  background-image: url("./img/intro_image_2.jpg");
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#intro::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

#intro .intro {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#intro h1 {
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  font-size: 4rem;
  animation: text_reveal 0.5s ease forwards;
  animation-delay: 1.2s;
  font-family: "Festive", cursive;
}

#intro h1:nth-child(1) {
  animation-delay: 1.2s;
}

#intro h1:nth-child(2) {
  animation-delay: 2.2s;
}

#intro h1:nth-child(3) {
  animation: text_reveal_name 0.5s ease forwards;
  animation-delay: 3.2s;
}

#intro h1 span {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 0%;
  background-color: yellow;
  animation: text_reveal_box 1s ease;
  animation-delay: 0.8s;
}

#intro h1:nth-child(1) span {
  animation-delay: 0.8s;
}

#intro h1:nth-child(2) span {
  animation-delay: 1.8s;
}

#intro h1:nth-child(3) span {
  animation-delay: 2.8s;
}

/* End of Intro Section */

/* Start of About Section */
#about .about {
  flex-direction: column-reverse;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;
}

#my_image {
  width: 400px;
  height: 400px;
  /* border-radius: 100%; */
  border: 2px solid whitesmoke;
  box-shadow: 0px 0px 10px 0 yellow;
}
#my_image:hover {
  box-shadow: 0px 0px 5px 0 yellow;
}

#about .col-right {
  width: 100%;
}

/* #about .col-right span {
  color: crimson;
} */

#about .col-right h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#about .col-right p {
  margin-bottom: 20px;
}

#about .col-right .cta {
  margin-bottom: 50px;
  padding: 10px 20px;
  font-size: 2rem;
}

/* End of About Section */

/* Start of Education Section */

#edu .edu {
  flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0px auto;
  padding: 100px 0;
}

#edu .edu-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#edu .edu-item {
  flex-basis: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  /* background-image: url("./img/edu_2.jpg"); */
  /* background-size: cover; */
  margin: 20px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#edu .edu-item::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.4;
  z-index: -1;
}

#edu .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
#edu .edu-item h2 {
  font-size: 2rem;
  color: yellowgreen;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 1000;
}

#edu .edu-item p {
  font-size: 1.4rem;
  color: cadetblue;
  line-height: 1.9rem;
  text-align: left;
  background-color: whitesmoke;
}
#edu .edu-item p span {
  color: whitesmoke;
  font-weight: 1000;
  font-weight: bolder;
  background-color: cadetblue;
}
/* End of Education Section */

/* Start of Projects Section */
.projects-body {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 20px;

  /* flex-wrap: wrap; */
}

.projects-body .project-item {
  flex-basis: 90%;
  padding: 30px;
  border-radius: 20px;
  margin: 20px;
  border: 5px solid yellowgreen;
  background-image: url("./img/projects_img.png");
  background-size: cover;
}
.projects-body .project-item h1 {
  font-size: 2rem;
  color: yellowgreen;
  text-shadow: yellow 1px 0 5px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 1000;
}

.projects-body .project-item p {
  font-size: 1.4rem;
  color: cadetblue;
  line-height: 1.9rem;
  text-align: left;
  background-color: whitesmoke;
}

.project-item:nth-child(1):hover p {
  transform: scale(1.04);
}
.project-item:nth-child(2):hover p {
  transform: scale(1.04);
}
.project-item:nth-child(3):hover p {
  transform: scale(1.04);
}

/* End of Projects Section */

/* Start of Contacts Section */
#contact .contact {
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

#contact .contact-items {
  width: 450px;
}

#contact .contact-item {
  width: 80%;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
  box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
  width: 70px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#contact .contact-info h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}

#contact .contact-info h1 {
  font-size: 1.3rem;
  line-height: 2rem;
  font-weight: 500;
}
/* End Of Contacts Section */

/* Start of Footer Section*/

#footer {
  background-image: url("./img/intro_image_2.jpg");
  background-size: cover;
}
#footer .footer {
  min-height: 200px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 10px;
}

#footer .social-icons {
  display: flex;
  margin-bottom: 30px;
}

#footer .social-icon {
  height: 60px;
  width: 60px;
  margin: 0 5px;
}

#footer .social-icon img {
  filter: grayscale(1);
  transition: 0.3s ease filter;
}

#footer .social-icon:hover img {
  filter: grayscale(0);
}

/* End of Footer Section */

/* Media Query for Tablet */
@media only screen and (min-width: 768px) {
  .cta {
    font-size: 2.5rem;
    padding: 20px 60px;
  }
  h1.section-title {
    font-size: 6rem;
  }
  /* Hero or Intro Section */
  #intro h1 {
    font-size: 7rem;
  }
  /* End of Hero */

  #projects .project-body .project-item {
    flex-basis: 45%;
    margin: 1.25px;
  }
  /* End of Projects Section */
}

/* Media Query for Tablet End */

/* Text Reveal Animation */
@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_name {
  100% {
    color: yellowgreen;
    font-weight: 500;
  }
}
/* End of text reveal Animation */
